.grid {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  grid-gap: 5px;
}

.gridItem {
  aspect-ratio: 1 / 1;
  border: 1px solid #747474;
  margin: 0 -1px -1px 0;

  border-radius: 5px;
}
